
<mat-toolbar>
    <button mat-icon-button [disabled]="!board.undoCount" (click)="board.undo()"><mat-icon>undo</mat-icon></button>

    <span class="spacer"></span>

    <button mat-icon-button (click)="board.createRandomBoard(boardSize.value, boardDensity.value);board.editMode=false"><mat-icon>casino</mat-icon></button>
    <button mat-icon-button (click)="board.clear();board.editMode=true"><mat-icon>delete_forever</mat-icon></button>
    <div class="actions">
        <mat-select placeholder="Size" (selectionChange)="board.createRandomBoard(boardSize.value, boardDensity.value)" style="min-width:80px;" #boardSize>
            <mat-option [value]="5">5</mat-option>
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="15">15</mat-option>
            <mat-option [value]="20">20</mat-option>
            <mat-option [value]="30">30</mat-option>
        </mat-select>
        <mat-select placeholder="Density" [value]=".5" (selectionChange)="board.createRandomBoard(boardSize.value, boardDensity.value)" style="min-width:120px;" #boardDensity>
            <mat-option [value]="0">Empty</mat-option>
            <mat-option [value]=".1">Loose</mat-option>
            <mat-option [value]=".3">Free</mat-option>
            <mat-option [value]=".5">Dense</mat-option>
            <mat-option [value]=".8">Tight</mat-option>
            <mat-option [value]="1">Full</mat-option>
        </mat-select>
    </div>

    <span class="spacer"></span>

    <div>
        <mat-button-toggle-group hideSingleSelectionIndicator [(value)]="board.editMode" #editMode="matButtonToggleGroup">
            <mat-button-toggle [value]="false"><mat-icon>play_arrow</mat-icon></mat-button-toggle>
            <mat-button-toggle [value]="true"><mat-icon>edit</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</mat-toolbar>

<div class="divider"></div>

<board-board [size]="size()" #board />

<div class="divider"></div>

<mat-toolbar>
    <span class="spacer"></span>
    <span>Stones: {{ board.coinCount || ''}}</span>
    <span class="spacer"></span>
</mat-toolbar>
