
<mat-toolbar>
    <button mat-icon-button matTooltip="Undo move" [disabled]="!board.undoCount" (click)="board.undo()"><mat-icon>undo</mat-icon></button>

    <span class="spacer"></span>

    <button mat-icon-button matTooltip="Generate random board" (click)="board.createRandomBoard(boardSize.value, boardDensity.value);board.editMode=false"><mat-icon>casino</mat-icon></button>
    <button mat-icon-button matTooltip="Clear board" (click)="board.clear();board.editMode=true"><mat-icon>delete_forever</mat-icon></button>
    <div class="actions">
        <mat-select placeholder="Size" matTooltip="Board Size" (selectionChange)="board.createRandomBoard(boardSize.value, boardDensity.value)" style="min-width:80px;" #boardSize>
            <mat-option [value]="5">5</mat-option>
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="15">15</mat-option>
            <mat-option [value]="20">20</mat-option>
            <mat-option [value]="30">30</mat-option>
        </mat-select>
        <mat-select placeholder="Density" matTooltip="Board Density" [value]=".5" (selectionChange)="board.createRandomBoard(boardSize.value, boardDensity.value)" style="min-width:120px;" #boardDensity>
            <mat-option [value]="0">Empty</mat-option>
            <mat-option [value]=".1">Loose</mat-option>
            <mat-option [value]=".3">Free</mat-option>
            <mat-option [value]=".5">Dense</mat-option>
            <mat-option [value]=".8">Tight</mat-option>
            <mat-option [value]="1">Full</mat-option>
        </mat-select>
    </div>

    <span class="spacer"></span>

    <div>
        <mat-button-toggle-group hideSingleSelectionIndicator [(value)]="board.editMode" #editMode="matButtonToggleGroup">
            <mat-button-toggle [value]="false" matTooltip="Game mode"><mat-icon>play_arrow</mat-icon></mat-button-toggle>
            <mat-button-toggle [value]="true" matTooltip="Edit mode"><mat-icon>edit</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</mat-toolbar>

<div class="divider"></div>

<div class="content">
    <h1>Anihilation Game</h1>

    To help with the problem <a href="https://www.olympiad.org.uk/papers/2024/final/thing.pdf">The Thing</a>, presented at the
    <a href="https://www.olympiad.org.uk/papers/2024/final/round_two.html">The 2024 Final</a> of <a href="https://www.olympiad.org.uk/">British Informatics Olympiad</a>
</div>

<board-board [size]="size()" [checkerboard]="showAnalysisTools" #board />

<div class="instructions">
    @if (board.editMode) {
        <p style="text-align:center;">Click cells to place or remove stones</p>
    } @else {
        <p>Achieve minimum number of stones by using the following two moves:</p>
        <ul>
            <li>Two adjacent occupied squares can be emptied by clicking one of such squares, shown in green. A second click may be required if more than one adjacent cell is occupied.</li>
            <li>When all four adjacent squares to an occupied square are vacant, click such an occupied square (blue) to "expand" it, making that square vacant and causing the four adjacent squares to become occupied.</li>
        </ul>
    }
</div>

<div class="divider"></div>

<mat-toolbar>
    <span>Stones: {{ board.coinCount }}</span>
    <span class="spacer"></span>
    <mat-slide-toggle color="primary" *ngIf="analysisMode()" (change)="handleAnalysisModeToggleReuest(showAnalysisSlide.checked, showAnalysisSlide)" #showAnalysisSlide>Analysis tools</mat-slide-toggle>
    <span class="spacer"></span>
    <span>Moves: {{ board.moveCount }}</span>
</mat-toolbar>


<div class="key-value" *ngIf="showAnalysisTools">
    <div class="even cell"></div>
    {{ board.coinCountEven }}

    <div class="odd cell"></div>
    {{ board.coinCountOdd }}

    <div class="row">
        <div class="even cell"></div>&mdash;<div class="odd cell"></div>
    </div>
    {{ board.coinCountEven - board.coinCountOdd}}

    <div class="row">
        (<div class="even cell"></div>&mdash;<div class="odd cell"></div>) mod 5
    </div>
    {{((board.coinCountEven - board.coinCountOdd) % 5 + 5 ) % 5}}
</div>
