
<mat-toolbar>
    <button mat-icon-button [disabled]="!board.undoCount" (click)="board.undo()"><mat-icon>undo</mat-icon></button>
    <button mat-icon-button (click)="board.reset()"><mat-icon>casino</mat-icon></button>
    <button mat-icon-button (click)="board.clear()"><mat-icon>delete_forever</mat-icon></button>
    <mat-slide-toggle
        class="example-margin"
        color="primary"
        [checked]="false"
    >
        <mat-icon>edit</mat-icon>
    </mat-slide-toggle>

    <span class="spacer"></span>

    <span>{{ board.coinCount }}</span>

    <span class="spacer"></span>

    <mat-button-toggle-group hideSingleSelectionIndicator [(value)]="board.editMode" #editMode="matButtonToggleGroup">
        <mat-button-toggle [value]="false"><mat-icon>play_arrow</mat-icon></mat-button-toggle>
        <mat-button-toggle [value]="true"><mat-icon>edit</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
</mat-toolbar>

<div class="divider"></div>

<board-board [size]="size()" #board />
