$gap: 8px;

:host {
    display: block;
    padding-block: 16px;
    transition: background-color 1s;
}

:host.edit-mode {
    background-color: lightblue;
}

.stack {
    display: grid;
    grid-auto-flow: row;
    row-gap: $gap;
}

.row {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: $gap;
}
